@media (min-width: 1200px) {
    .col-lg25 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 1200px) {
    #main-header .header-inner .btn {
        width: 100px;
    }

    #main-header .header-inner h2 {
        font-size: 118px;
    }

    #main-header .header-inner p {
        font-size: 26px;
        margin-top: -33px;
    }
}

@media (max-width: 768px) {
    .col-md50 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #main-nav {
        padding: 15px 30px;
    }

    #main-header .header-text {
        left: 30px;
        margin-top: -10px;
    }

    #main-nav .col {
        flex-direction: column;
    }

    #main-nav .main-nav-item a {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    #main-header .header-inner {
        height: calc(100vh - 236px);
    }

    #main-header .header-inner .btn {
        width: 50px;
    }

    #main-header .header-inner h2 {
        font-size: 76px;
    }

    #main-header .header-inner p {
        font-size: 15px;
        margin-top: -20px;
    }

    #about2 {
        padding: 30px;
    }

    #about2 p {
        padding: 0;
        font-size: 16px;
    }

}

@media all and (max-width: 640px) {
    #about2 p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    #about2 h2 {
        font-size: 46px;
    }

    #about2 h3 {
        font-size: 40px;
    }


    #main-header .header-inner h2 {
        font-size: 65px;
    }

    #main-header .header-inner p {
        font-size: 12px;
        margin-top: -16px;
    }
}

@media (max-width: 320px) {

    #main-header .header-inner h2 {
        font-size: 50px;
    }

    #main-header .header-inner p {
        font-size: 7.5px;
        margin-top: -10px;
    }
    
    #main-nav .main-nav-item a {
        font-size: 16px;
    }

    #about2 h2 {
        font-size: 36px;
    }

    #about2 h3 {
        font-size: 36px;
    }
    
    #about .about-inner h2 {
        top: 72%;
    left: 40%;
}

    #about .about-inner h2.second {
        top: 72%;
        left: 26%;
    }

    #about .about-inner h2.third {
        left: 32%;
        top: 75%;
        text-align: center;
    }

    #about .about-inner h2.fourth {
        top: 72%;
        left: 32%;
    }

}
