* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.col {
    width: 100%;
}

/* nav */

#main-nav {
    background-color: #000;
    width: 100%;
    padding: 10px 100px;
}

#main-nav .col {
    display: flex;
    align-items: center;
}

#main-nav .logo {
    flex: 25%;
}

#main-nav .logo a img {
    height: 30px;
}

#main-nav .main-nav-item {
    flex: 75%;
    text-align: right;
}

#main-nav .main-nav-item a {
    color: #fff;
    transition: all .6s;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 15px;
}

#main-nav .main-nav-item a:hover {
    color: #999;
}

/* HEADER */

#main-header {
    background-color: #f8f8f8;
}

#main-header .col {
    display: flex;
    align-items: center;
    position: relative;
}

#main-header .header-inner {
    position: relative;
    height: calc(100vh - 54px);
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

#main-header .header-text {
    position: absolute;
    left: 100px;
    margin-top: -25px;
}

#main-header .header-inner h2 {
    font-weight: 900;
    font-size: 150px;
}

#main-header .header-inner p {
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 3px;
    margin-top: -42px;
}

#main-header .header-inner .btn {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 84px;
/*    height: 98px;*/
    overflow: hidden;
    animation: pulse 3s infinite ease-in-out;

}


@keyframes pulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}



/* ABOUT */

#about .about-inner {
    padding: 150px 0;
    text-align: center;
    position: relative;
}

#about .about-inner h2 {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    left: 64%;
    font-weight: 900;
    letter-spacing: 3px;
    opacity: 0;
    transition: all 2s;
}



#about .about-inner:hover h2 {
    opacity: 1;
}

#about .about-inner h2.second {
    left: 50%;
}

#about .about-inner h2.third {
    left: 60%;
    top: 68%;
    text-align: right;
}

#about .about-inner h2.fourth {
    left: 65%;
}


#about .grey {
    background-color: #ebebeb;
}

#about2 {
    text-align: center;
    padding: 50px;
}

#about2 h3 {
    font-size: 60px;
    font-weight: 200;
    font-family: 'Great Vibes', cursive;
}

#about2 h2 {
    font-size: 60px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 25px;
}


#about2 p {
    font-size: 20px;
    letter-spacing: 3px;
    text-align: justify;
    text-align-last: center;
    padding: 0 150px;
}

#portfolio {
    background-color: #ebebeb;
    height: 2160px;
    position: relative;
}

#portfolio .portfolio-inner {
    height: 720px;
    position: relative;
    
}

#portfolio .portfolio-inner-last {
    height: 1080px;
    background-color: #ebebeb;
}

#portfolio .portfolio-inner h2 {
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    
}

#portfolio .portfolio-inner:nth-of-type(3) {
    background-color: #f8f8f8;
}

.background-text h3 {
    color: #f8f8f8;
    font-size: 520px;
    font-weight: 900;
}

#portfolio .portfolio-inner:nth-of-type(1) .background-text h3 {
    margin-top: -122px;
}

#portfolio .portfolio-inner:nth-of-type(1) .background-text, 
#portfolio .portfolio-inner:nth-of-type(3) .background-text,
#portfolio .portfolio-inner:nth-of-type(5) .background-text{
    position: absolute;
    z-index: 100;
}

#portfolio .portfolio-inner:nth-of-type(3) .background-text h3 {
    color: #ebebeb;
}

.portfolio-right {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 280px;
}

.portfolio-left {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 1350px;
}

.portfolio-item {
    width: 415px;
    height: 415px;
    top: 20px;
    left: 100px;
    background-color: red;
    position: absolute;
    z-index: 120;
}







#contact {
    height: 2000px;
}
